# MongoDB Connection String (Local or MongoDB Atlas)
MONGODB_URI=mongodb://localhost:27017/van_bus_booking

# JWT Secret for Auth
JWT_SECRET=super_secret_jwt_key_csx4107_project2

# Next App Base URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

